<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Robin Bertilsson - Junior-web developer from Sweden
  link(rel="stylesheet", href="assets/styles/global.min.css")
  link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  script(src="assets/vendors/jquery-2.2.0.min.js" type="text/javascript")
body
  .nav-fixed-left
    .nav-item(data-tab="tab-home")
      .navi-icon.ion-ios-home
      .navi-text Home
    
    .nav-item(data-tab="tab-home")
      .navi-icon.ion-earth
      .navi-text Social
      
    .nav-item(data-tab="tab-home")
      .navi-icon.ion-folder
      .navi-text Projects
      
    .nav-item(data-tab="tab-home")
      .navi-icon.ion-at
      .navi-text Contact
  
